/* You can add global styles to this file, and also import other style files */
ion-router-outlet {
  background:  rgb(244,248,248)!important;
}
ion-split-pane {
  --side-max-width: 236px;

  ion-menu {
    ion-content {
      .logo {
        width: 100px;
        height: 100px;
        display: block;
        margin: 4rem auto 1rem;
      }
      .menu-title {
        font-size: 1.5rem;
        font-weight: 700;
        margin: 0rem auto 5rem;
        text-align: center;
        display: block;
        position: relative;
      }
    }

    ion-list, ion-item, ion-footer, ion-toolbar {
      background: transparent;
      --background: transparent;
    }
  }
}

ion-avatar ion-img::after {
  content: "";
    border-radius: 100%;
    border: solid 3px #fff;
    position: absolute;
    bottom: -5%;
    right: -8%;
    width: 30%;
    height: 30%;
    background: var(--ion-color-success);
}

ion-avatar {
    position: relative;
}

.alert-wrapper {
  border-radius:  0.618rem!important;
  // border: 1px solid var(--ion-color-primary)!important;
  // background: #fff!important;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.12)!important;
}

ion-backdrop {
  background-color: rgba(var(--ion-color-primary-rgb), 0.3);
}
.danger {
  ion-backdrop {
    background-color: rgba(var(--ion-color-danger-rgb), 0.5);
  }
}

.clickable {
  cursor: pointer;
}

.isDevMod {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 18px;
  font-size: 0.7rem;
  background: var(--ion-color-warning);
  color: var(--ion-color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

.modalAlert {
  --width: fit-content;
  --min-width: 250px;
  --max-width: 650px;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  padding: 2rem;

  .ion-accordion-toggle-icon {
    display: none;
  }
}

.header-grid {

  ion-icon {
    font-size: 0.8rem;
  }
  .item-stats {
    --background: transparent;
  }
}

.modalSelectFolder {
  --min-width: 280px;
  --max-width: 350px;
  --max-height: 320px;
  --height: fit-content;

  ion-content {
    min-height: 200px;
  }
}

.ion-modal-preview-file {
  --width: 100%;
  --height: 100%;
  --border-radius: 0;
}

ion-toast.notification-toast {
  --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
  --background: #fff;
  --max-width: 300px;
  --start: 1;

  &::part(button) {
    border-left: 1px solid #d2d2d2;
    color: #030207;
    font-size: 15px;
  }
}
div#lit-connect-modal-container {
  z-index: 99999;
  position: absolute;
}