<ion-header mode="ios" collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-grid class="ion-no-padding ion-padding-horizontal">
      <ion-row class="ion-no-padding ion-align-items-center">
        <!-- <ion-col size="auto">
          <ion-text class="" color="primary">My Drive</ion-text>
        </ion-col> -->
        <ion-col>
          <ion-searchbar class="ion-margin-vertical" mode="ios"></ion-searchbar>
        </ion-col>
        <ion-col class="ion-text-end ion-padding-end ion-hide-md-down">
          <ion-button fill="clear" (click)="actions('reload')">
            <ion-icon name="sync"></ion-icon>
          </ion-button>
          <ion-button (click)="addFileElement.click()">
            upload
          </ion-button>
          <ion-button fill="outline" (click)="actions('newFolder')">
            new folder
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" fullscreen>
  <input #addFileElement type="file" id="file-input" multiple="true" hidden (change)="actions('onFileChange', $event)" />
  <ion-grid class="header-grid">
    <ion-row class="">
      <ion-col size-xs="12" class="ion-text-left">
        <ion-breadcrumbs 
            *ngIf="breadcrumbs$|async as breadcrumbs;else defaultBreadcrumb"
            [maxItems]="options.maxBreadcrumbs" >
          <ion-breadcrumb class="clickable" (click)="actions('navToFolderName', b)" *ngFor="let b of breadcrumbs;let i = index">
            <span>{{b}}</span>
          </ion-breadcrumb>
        </ion-breadcrumbs>
        <ng-template #defaultBreadcrumb>
          <ion-breadcrumbs>
            <ion-breadcrumb active="true" color="primary">
              <span>My Drive</span>
            </ion-breadcrumb>
            <ion-breadcrumb></ion-breadcrumb>
          </ion-breadcrumbs>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card class="ion-no-padding">
    <ion-grid class="ion-no-padding">
      <ng-container *ngIf="currentPath$|async as currentPath" >
        <ion-row 
            *ngIf="currentPath !== 'root'" 
            class="item ion-align-items-center ion-padding-start">
          <ion-col size="auto" class="ion-padding-end">
            <ion-fab-button size="small" translucent="true" mode="ios" (click)="actions('navBack')">
              <ion-icon name="ellipsis-horizontal" size="small" color="primary"></ion-icon>
            </ion-fab-button>
          </ion-col>
        </ion-row>
      </ng-container>
      <!-- list files -->
      <ion-row 
          *ngFor="let item of items$|async; trackBy:trackByfn" 
          (click)="item.isFolder ? actions('navTo', item) : actions('preview', item)"
          class="item clickable ion-align-items-center ion-padding-start">
        <ion-col size="auto" class="ion-padding-start">
          <ion-icon name="folder-outline" *ngIf="item.isFolder === true"></ion-icon>
          <ion-icon name="document-outline" *ngIf="item.isFolder !== true"></ion-icon>
          <ion-text class="ion-padding-start">
            {{item.name}}
          </ion-text>
        </ion-col>
        <ion-col class="ion-text-right">
          <ion-text *ngIf="item.isFolder !== true" color="medium">
            {{item.size}}
          </ion-text>
        </ion-col>
        <ion-col size="auto">
          <ion-fab-button size="small" translucent="true" mode="ios" (click)="$event.stopPropagation();actions('openOptions', {event: $event, item})">
            <ion-icon color="medium" size="small" color="primary" name="ellipsis-vertical"></ion-icon>
          </ion-fab-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  
</ion-content>