
<ion-toolbar>
  <ion-grid class="ion-no-padding ion-padding-horizontal">
    <ion-row class="ion-no-padding ion-align-items-center">
      <ion-col>
        <ion-searchbar 
            class="ion-margin-vertical" 
            enterkeyhint="search"
            inputmode="search"
            [debounce]="500"
            (ionChange)="actions.emit({
              type: 'searchByName', 
              payload: $event
            })"></ion-searchbar>
      </ion-col>
      <ion-col class="ion-text-end ion-padding-end ion-hide-md-down">
        <ng-content></ng-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>