:host {
  ion-content {
    --background: var(--ion-container-background)!important;
  }

  ion-card {
    border-radius:  0.618rem!important;
    border: 1px solid rgba(var(--ion-color-primary-rgb), 0.2);
    box-shadow: none;
    margin-bottom: 2.618rem;
  }

  ion-row.item {
    background: var(--background-app);
    border-bottom: 1px solid var(--ion-border-color); // #e0e0e0;


    &:hover {
      background-color: rgba(var(--ion-color-primary-rgb), 0.15);
      > ion-col {
        color: var(--ion-color-primary);
      }
    }

    &:last-of-type {
      margin-bottom: -1px;
    }

    ion-fab-button {
      --background: transparent;
      --box-shadow: none;
      --background-hover-opacity: 0.2;
      --backdrop-filter: none;
    }

    ion-chip {
      transform: scale(0.8);
    }
  }

  ion-skeleton-text {
    margin-top: 7px;
    margin-bottom: 7px;
  }
}